* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: rgb(0, 0, 23);
    color: white;
    font-family: "Poppins", sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    background-color: rgb(6, 6, 41);
}

nav ul {
    display: flex;
    justify-content: center;
}

main hr {
    border: 0;
    background: rgb(32, 32, 99);
    height: 2.1px;
    margin: 20px 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: rgb(166, 166, 185);
    font-size: 1.02rem;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.left {
    font-size: 1.7rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 16px 0;
}

.buttons .btn:hover {
    opacity: 0.7;
}


.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 2.1rem;
}

.leftSection .buttons {
    padding: 40px 0;
}

.leftSection .btn {
    padding: 10px;
    background: #1e2167;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.rightSection img {
    height: 400px;
    width: 400px;
    margin: 30px 0;
}

.purple {
    color: rgb(132, 46, 212);
}

.text-grey {
    color: grey;
}

#element {
    color: rgb(132, 46, 212);
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}

.secondSection .box {
    background: white;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}


.secondSection .vertical {
    height: 93px;
    width: 2px;
    background: white;
    margin: 0 138px;
}

.spotify {
    position: relative;
    width: 35px;
    top: -40px;
    right: 15px;
    font-size: 35px;
}

.homes {
    position: relative;
    width: 35px;
    top: -40px;
    right: 19px;
    font-size: 35px;
}

.game {
    position: relative;
    width: 35px;
    top: -36px;
    right: 19px;
    font-size: 35px;
}

.port {
    position: relative;
    width: 35px;
    top: -38px;
    right: 10px;
    font-size: 35px;
}

.image-top {
    width: 35px;
    position: relative;
    top: -41px;
    left: -15px;
}

.vertical-title {
    position: relative;
    top: 65px;
    width: 180px;
    font-size: 16px;
}

.vertical-desc {
    position: relative;
    top: 80px;
    color: grey;
    font-size: 0.7rem;
    width: 180px;
}


.thirdSection {
    max-width: 80vw;
    margin: auto;
    height: 100vh;
}

.thirdSection h1 {
    font-size: 2.2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rancho&family=Water+Brush&display=swap');

.skills_section{
    width: 100%;
    /* height: 100vh; */
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.skills_head{
    width: 100%;
    margin-bottom: 60px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 90%;
    animation: html 2s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 90%;
    }
}
.skill_bar .bar .css{
    width: 85%;
    animation: css 2s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 85%;
    }
}
.skill_bar .bar .javascript{
    width: 80%;
    animation: jacascript 2s;
}
@keyframes javascript {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .nextjs{
    width: 80%;
    animation: nextjs 2s;
}
@keyframes nextjs {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}
.skill_bar .bar .react{
    width: 10%;
    animation: react 2s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 10%;
    }
}
/* .skill_bar .bar .node{
    width: 70%;
    animation: node 2s;
}
@keyframes node {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
} */
.skill_bar .bar .express{
    width: 65%;
    animation: express 2s;
}
@keyframes express {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}

.skill_bar .bar .SQL{
    width: 45%;
    animation: SQL 2s;
}
@keyframes SQL {
    0%{
        width: 0%;
    }100%{
        width: 45%;
    }
}

.skill_bar .bar .mongo{
    width: 15%;
    animation: mongo 2s;
}
@keyframes mongo {
    0%{
        width: 0%;
    }100%{
        width: 15%;
    }
}

.skill_bar .bar .c{
    width: 60%;
    animation: c 2s;
}
@keyframes c {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

.skill_bar .bar .python{
    width: 80%;
    animation: python 2s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 80%;
    }
}

/*------------------------ Contact section ------------------------*/

.fourSection{
    max-width: 60vw;
    margin: auto;
    /* height: 80vh; */
}
.fourSection h1{
    font-size: 2.2rem;
    position: relative;
    right:140px;
}

.container {
    width: 88%;
    background: #ffffff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .content .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.content .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
}

.content .left-side .details {
    margin: 14px;
    text-align: center;
}

.content .left-side .details i {
    font-size: 30px;
    color: #3e2093;
    margin-bottom: 10px;
}

.content .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}


.content .left-side .details .text-one{
    font-size: 14px;
    color: #afafb6;
}
.right-side .contacthead{
    color:black;
    position: relative;
    bottom:12px;
    left:8px;
    font-size:30px;
    font-weight: 700;
}

.container .content .right-side {
    width: 75%;
    margin-left: 75px;
}

.content .right-side .topic-text {
    font-size: 14px;
    font-weight: 500;
    padding:15px;
    border-radius: 7%;
    color: #1a191b;
    position: relative;
    right: 40px;
    /* bottom: 10px; */
    left: 10px;
    background-color: rgb(207, 213, 213);

}




.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 30px;
    padding: 0 15px;
    resize: none;
    font-family: "sans-serif";
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 15px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
    background: #0903b9;
    cursor: pointer;
    transition: all 0.2s ease;
    position:relative;
    left:120px;
}

.button input[type="button"]:hover {
    background: #5029bc;
}

@media (max-width: 950px) {
    .container {
        width: 90%;
        padding: 30px 40px 40px 35px;
    }

    .container .content .right-side {
        width: 75%;
        margin-left: 55px;
    }
}

@media (max-width: 820px) {
    .container {
        margin: 40px 0;
        height: 100%;
    }

    .container .content {
        flex-direction: column-reverse;
    }

    .container .content .left-side {
        width: 100%;
        flex-direction: row;
        margin-top: 40px;
        justify-content: center;
        flex-wrap: wrap;
    }

    .container .content .left-side::before {
        display: none;
    }

    .container .content .right-side {
        width: 100%;
        margin-left: 0;
    }
}





.footer {
    background-color: rgb(10, 22, 34);
    height: 140px;
    padding: 23px 122px;
    display: flex;
    justify-content: space-evenly;

}

.footer-one {
    font-size: 0.6rem;
    padding: 23px;
}

.footer ul {
    list-style: none;
}

footer .footer-rights {
    text-align: center;
    padding: 12px 0;
    color: grey;
}